@import '../../style/colors.scss';

.Details {
    width: calc(100% - 240px);
    padding-right: 40px;
}
.PagePath {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  color: $grey;
  margin-bottom: 32px;
}

.Details-Name {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 24px;
}

.Details-Gallery {
  display: inline-flex;
}

.Gallery-Picture {
  width: 300px;
  height: 200px;
  object-fit: fill;
}

.Details-About {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.Description-Text {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.Description-ShowButton {
  margin-top: 3px;
  width: max-content;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 5px;
  border-radius: 2px;
  border: none;
  color: black;
  background-color: white;
  cursor: pointer;
}

.Card-Release {
  width: 340px;
}

.More {
  width: 340px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Web:hover {
  color: $grey;
}