@import '../../style/colors.scss';

.BrowseCard-Wrap {
  overflow: hidden;
  width: 305px;
  height: 320px;
  border-radius: 4px;
  background-size: cover;
}

.BrowseCard {
  margin: 32px 24px;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  &-Name {
    text-align: center;
    background-color: inherit;
    margin: 16px auto;
    &:hover {
      color: $grey;
    }
  }
}

.BrowseCard-Popular {
  margin-top: 100px;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  border-bottom: 1px solid $grey;
}

.Popular-Title {
  background-color: inherit;
  font-size: 16px;
  font-weight: 700;
  &:hover {
    color: $grey;
  }
}

.Popular-Count {
  background-color: inherit;
  font-size: 14px;
  font-weight: 400;
  color: $grey;
}

.BrowseCard-Game {
  margin-top: 10px;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
}

.Game-Name {
  background-color: inherit;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid $grey;
  &:hover {
    color: $grey;
  }
}

.Game-Count {
  background-color: inherit;
  font-size: 14px;
  font-weight: 400;
  color: $grey;
}