@import '../../style/colors.scss';

.Filter {
  margin-left: 12px;
  text-align: left;
  display: flex;
  gap: 15px;
  cursor: pointer;
  height: 100px;
}

.Dropdown-Btn {
  height: 46px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  &_Rating {
    width: 150px;
  }
  &_Platforms {
    width: 120px;
  }
}

.Btn-Content {
  display: flex;
  background-color: transparent;
}

.Btn-Title {
  background-color: inherit;
  font-size: 14px;
  font-weight: 400;
  &:hover {
    color: $grey;
  }
}

.Btn-Value {
  margin-left: 2px;
  background-color: inherit;
}

.Btn-Arrow {
  margin-left: 3px;
  margin-top: 3px;
  width: 17px;
  height: 10px;
  transform: rotate(90deg);
  background-color: inherit;
}

.Filter-Select {
  z-index: 100;
  margin-top: -46px;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  &_Rating {
    width: 150px;
  }
  &_Platforms {
    width: 120px;
  }
}

.Filter-Text {
  background-color: white;
  border: none;
  color: black;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 16px;
  &:hover {
    background-color: $grey;
  }
}